<!-- slick -->
<div id="projects-slick" data-slick="{{ options|json_encode()|e('html_attr') }}">
    {% for slide in slides %}
        <div>
            <a href="{{ slide.link }}" title="{{ slide.post_title|e('html_attr') }}">
                {% set thumbnail = function('is_a', slide, 'TimberImage') ? slide : slide.thumbnail %}
                <img src="{{ thumbnail.src|resize(slide.width)|relative|e('html_attr') }}" alt="{{ slide.post_title|e('html_attr') }}" class="img-responsive">
            </a>
            <div class="slick-caption">
                <h3 class="slick-title">
                    {% if slide.slide_url %}
                    <a href="{{ slide.slide_url }}" title="{{ slide.post_title|e('html_attr') }}">
                        {% endif %}
                        {{ slide.post_title }}
                        {% if slide.slide_url %}
                    </a>
                    {% endif %}
                </h3>
                {% if slide.content %}
                    <div class="slick-content">
                        {{ slide.content }}
                        <ul class="project-technologies">
                            {% for technology in slide.technologies %}
                                <li>
                                    <a href="{{ technology.link }}"><span class="fa fa-hashtag"></span> {{ technology.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<a href="/projects" class="btn btn-default">See more projects</a>

